
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #333;
    background-color: #ddd;
}

.content {
    background-color: #fff;
    width: 70vw;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0 0 0 / 0.15);
    text-align: center;
    margin-bottom: 1em;
}

.title {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color: #ee6352;
    line-height: 0.8;
}

.fancy-link {
    text-decoration: none;
    color: #ee6352;
    position: relative;
}

.fancy-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    left: 0;
    bottom: 0;

    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: right;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.button {
    cursor: pointer;
    border: 0;
    background-color: #ee6352;
    color: #fff;
    padding: 1em 1.5em;
}

.button + .button {
    margin-left: 1em;
}
